<p id="notice"><%= notice %></p>

<p>
  <strong>Activegroupid:</strong>
  <%= @os_groups_principal.ActiveGroupID %>
</p>

<%= link_to 'Edit', edit_os_groups_principal_path(@os_groups_principal) %> |
<%= link_to 'Back', os_groups_principals_path %>
