<p id="notice"><%= notice %></p>

<p>
  <strong>Llsd settings:</strong>
  <%= @regionenvironment.llsd_settings %>
</p>

<%= link_to 'Edit', edit_regionenvironment_path(@regionenvironment) %> |
<%= link_to 'Back', regionenvironments_path %>
